:root{
	margin:0;
	padding:0;
	--border-width:0.1em;
	font-size:min( max( calc( max(1vh,1vw) * 2 ), 16px) , 20px);
	--vh:1vh;
}

.black_border{
	border: var(--border-width) solid black;
}


p{
	word-wrap:break-word;
	word-break:normal; 
}


.menu_div{
	display:block;
	padding:0.5rem;
	width:90vw;
	position:absolute;
	left: 50%;
	transform: translateX(-50%);
}


.center_div{
	padding:0.5rem;
	display:block;
	height:calc( 95 * var(--vh)	- 9rem );
	overflow-y:scroll;
	word-wrap:break-word;
	word-break:normal;
	
	position:absolute;
	top:calc( 3rem + 2 * var(--border-width));
	width:90vw;
	left: 50%;
	transform: translateX(-50%);
}

.bottom_div{
	padding:0.5rem;
	height:3rem;
	background-color:white;
	word-wrap:break-word;
	word-break:normal; 
	background:white;
	overflow-y:scroll;
	
	position:absolute;
	top:calc(4 * var(--border-width) + 95 * var(--vh) - 4.5rem);
	width:90vw;
	left: 50%;
	transform: translateX(-50%);
}