:root{
	margin:0;
	padding:0;
	--border-width:0.1em;
	font-size:min( max( calc( max(1vh,1vw) * 2 ), 16px) , 20px);
	--user-name-color:blue;
	--vh:1vh;
	
}

.black_border{
	border: var(--border-width) solid black;
}


p{
	word-wrap:break-word;
	word-break:normal; 
}

#menu_div{
	padding:0.5em;
}

#chat_div{
	margin-top:0.5em;
	padding:0.5em;
	display:block;
	height:calc( 95 * var(--vh)	- 9em );
	overflow-y:scroll;
	word-wrap:break-word;
	word-break:normal;
}

#input_div{
	margin-top:0.5em;
	padding:0.5em;
	height:3em;
	background-color:white;
	word-wrap:break-word;
	word-break:normal; 
	background:white;
	overflow-y:scroll;
}